<% if notice %>
  <%= javascript_tag do %>
    $.notify({
      message: "<%= notice %>",
      icon: "glyphicon glyphicon-ok" }, {
        type: "success",
        placement: {
		      from: "top",
		      align: "center"
        }
      });
  <% end %>
<% end %>

<% if alert %>
  <%= javascript_tag do %>
    $.notify({
      message: "<%= alert %>",
      icon: "glyphicon glyphicon-remove" }, {
        type: "danger",
        placement: {
		      from: "top",
		      align: "center"
        }
      });
  <% end %>
<% end %>
