<h1 class="page-header"><%= @categories.model_name.human(count: 2) %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('messages.listing', model: @categories.model_name.human(count: 2)) %>
    <%= link_to new_backoffice_category_path, class:"btn btn-success btn-circle pull-right", style:"margin-top: -5px" do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th><%= @categories.model.human_attribute_name('description') %></th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.id %></td>
              <td><%= category.description %></td>
              <td style="width: 150px">
                <%= link_to edit_backoffice_category_path(category), class:"btn btn-primary btn-circle" do %>
                  <i class="fa fa-edit"></i>
                <% end %>
                <button type="button" disabled="disabled", class="btn btn-danger btn-circle"><i class="fa fa-minus"></i></button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
