<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('app.name'), root_path, class:"navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <% unless member_signed_in? %>
          <li>
            <%= link_to 'Login', new_member_session_path %>
          </li>
          <li>
            <%= link_to 'Cadastrar-se', new_member_registration_path %>
          </li>
        <% else %>
        <li>
          <%= link_to current_member.email, '#' %>
        </li>
        <li>
          <%= link_to 'Perfil', site_profile_dashboard_index_path %>
        </li>
        <li>
          <%= link_to 'Sair', destroy_member_session_path, method: :delete %>
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
