<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">BackOffice</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <%= current_admin.email %> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <%= link_to destroy_admin_session_path,  method: :delete do %>
            <i class="fa fa-sign-out fa-fw"></i> <%= t('buttons.logout') %>
          <% end %>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <%= link_to backoffice_path do %>
            <i class="fa fa-dashboard fa-fw"></i> <%= t('labels.dashboard') %>
          <% end %>
        </li>
        <li>
          <%= link_to backoffice_categories_path do %>
            <i class="fa fa-th-list fa-fw"></i> <%= t('labels.categories') %>
          <% end %>
        </li>
        <li>
          <%= link_to backoffice_admins_path do %>
            <i class="fa fa-users fa-fw"></i> <%= t('labels.administrators') %>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
