<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= t('labels.identify_yourself') %></h3>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), role:"form") do |f| %>
            <fieldset>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email",
                class:"form-control", placeholder:"#{t('labels.email')}", autofocus:"autofocus" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "current-password",
                class:"form-control", placeholder:"#{t('labels.password')}" %>
              </div>
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %> <%= t('labels.remember_me') %>
                </label>
              </div>
                <%= f.submit "#{t('buttons.enter')}", class:"btn btn-lg btn-success btn-block" %>
                <%#= render "admins/shared/links" %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% flash.each do |key, value| %>
  <script>
    $.notify("<%= value %>", "info");
  </script>
<% end %>
