<div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"><%= t('labels.new_message') %></h4>
      </div>
      <%= form_tag(backoffice_send_mail_index_path, remote: true) do %>
        <div class="modal-body">
            <div class="form-group">
              <%= label_tag :"recipient-name", t('labels.recipient'), class:"control-label" %>
              <%= text_field_tag :"recipient-name", nil, class:"form-control", readonly:"readonly" %>
            </div>
            <div class="form-group">
              <%= label_tag :"recipient-name", t('labels.subject'), class:"control-label" %>
              <%= text_field_tag :"subject-text", nil, class:"form-control", required:"required" %>
            </div>
            <div class="form-group">
              <%= label_tag :"message-text", t('labels.message'), class:"control-label" %>
              <%= text_area_tag :"message-text", nil, class:"form-control", required:"required" %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('buttons.close') %></button>
          <%= submit_tag t('buttons.send_message'), class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
