<div class="thumbnail">
  <%= image_tag @ad.picture.url(:large), class:"img-responsive" %>
  <div class="caption-full">
    <h4 class="pull-right"><%= humanized_money_with_symbol(@ad.price) %></h4>
    <h4><strong><%= @ad.title %></strong></h4>
    <p><%= @ad.description.html_safe %></p>
  </div>
  <div class="ratings">
    <p class="pull-right">3 reviews</p>
    <p>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      4.0 stars
    </p>
  </div>
</div>

<div class="well">

  <div class="text-right">
    <a class="btn btn-success">Leave a Review</a>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      Anonymous
      <span class="pull-right">10 days ago</span>
      <p>This product was great in terms of quality. I would definitely buy another!</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      Anonymous
      <span class="pull-right">12 days ago</span>
      <p>I've alredy ordered another one!</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      Anonymous
      <span class="pull-right">15 days ago</span>
      <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
    </div>
  </div>

</div>
