$(function(){ //teste para verificar se a página esta carregada antes de executar.
  //Setting email and name on form
  $('#recipient-name').val('<%= @admin.email %>')
  $('h4.modal-title').text("<%= t('labels.send_message_to', name: @admin.name) %>");
  //Show Modal
  $('#sendMailModal').modal();
  //Set focus on message text after modal show
  $('#sendMailModal').on('shown.bs.modal', function () {
    $('#subject-text').focus()
  })
});
