<h1 class="page-header"><%= action_message %></h1>
<% if @category.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= action_message %>
  </div>
  <div class="panel-body">
    <div class="col-lg-6">
      <%= form_for([:backoffice, @category]) do |f|  %>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class:"form-control", placeholder:"Ex: Animals/pet" %>
        </div>
        <button type="submit" class="btn btn-default"><%= t('buttons.save') %></button>
      <% end %>
    </div>
  </div>
</div>
